nav{
    background-color: blueviolet;
    padding: 10px;
}
nav a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
}
.card{
    box-shadow: 0 0 10px black;
    width: 300px;
    margin: 20px;
    padding: 20px;
    background: linear-gradient(45deg,pink,blueviolet);
}
.card-body h3{
    font-size: 25px;
    margin: 0;
}
.card-body p{
    font-size: 18px;
}
